<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">


<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

    <body>

    <h3>Dodaj uzytkownika</h3>
<form action="#" th:action="@{/save}"
      th:object = "${employee}" method="post">
    <br>
    <input type="hidden" th:field ="*{id}" />
<input type="text" th:field ="*{firstName}" placeholder="Imie"
class="form-control mb-4 col-4">
    <br>
    <input type="text" th:field =*{lastName} placeholder="Naziwsko"
           class="form-control mb-4 col-4">

<br>
    <input type="text" th:field =*{email} placeholder="email"
           class="form-control mb-4 col-4">
    <br>
    <button type="submit"  class="btn btn-info col-2"> Akceptuj</button>

</form>



</body>
