<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">




</head>
<body>
<div class="jumbotron home-jumbo">
    <div class="container text-center text-white jumbo-container">
        <h1 th:text="${item.name}"  class="display-3">Foodie</h1>

    </div>
</div>
<div class="media col-6 offset-3 " >

    <div  class="media-body" >
        <img th:src="${item.imageUrl}" class="img-fluid" alt="Pizza margherita" />

        <h5> <a  th:text="|Cena: ${item.price} zł |" > </a></h5>

        <br><br>
        <h6> Opis:</h6>
        <p th:text="| ${item.description}|"> </p>
    </div>
</div>



</div>

</body>
</html>